@import "tailwindcss";

@theme{
    --font-above: "Above", sans-serif;
}

@layer base {
    @font-face {
        font-family: 'Above';
        src: url('public/fonts/AboveDemoRegular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}